In [5]:
#dependencies
import pandas as pd

#file path
price_data = "Resources/Price_ national.csv"
consumption_data = "Resources/Consumption_National.csv"

#read and store in data frame
price_dataDF = pd.read_csv(price_data)
consumption_dataDF = pd.read_csv(consumption_data)
#format data frame 
#set index as MSN for price
price_dataDF = price_dataDF.set_index("MSN")
#set index as MSN for consumption
consumption_dataDF = consumption_dataDF.set_index("MSN")
#get data for only the by barrels for transportation
price_dataDF = price_dataDF[["2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017"]]
consumption_dataDF = consumption_dataDF[["2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017"]]
#concatenate dataframes
price_consDF = pd.concat([price_dataDF,consumption_dataDF])
#narrow down between PAACD and PAACB
price_consDF = price_consDF.loc["PAACD":"PAACB"]
price_consDF1 = price_consDF.loc["PAACD":"PAACV"]
price_consDF2 = price_consDF.loc["P1TXP":"PAACB"]
#new data frame containing only row near values needed
price_consDF3 = pd.concat([price_consDF1,price_consDF2])
#drop rows not needed
price_consDF = price_consDF3.drop(["PAACV","P1TXP"])
#write to CSV
price_consDF.to_csv("Resources/price_cons.csv", index = True, header = True)

In [6]:
#test to make sure worked
testPath = "Resources/price_cons.csv"
testDF = pd.read_csv(testPath)
testDF

,MSN,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,PAACD,20.83,25.62,17.9,21.54,27.55,28.41,27.74,26.73,19.16,16.7,18.92
1,PAACB,28034208.00,26630325.00,25814788.0,26190308.00,25785221.00,25272366.00,25650321.00,26034264.00,26420723.00,26958202.0,27144978.00