In [1]:
#dependencies

import pandas as pd

In [2]:
#import datasources from CSV- Average MPG and Annual Miles

file="./Resources/Avg MPG.csv"

avg_mpg=pd.read_csv(file,encoding = "ISO-8859-1",header=1)

avg_mpg

,Unnamed: 0,1980,1985,1990,1991,1992,1993,1994,1995,1996,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Average U.S. light duty vehicle fuel efficienc...,14.9,16.5,18.8,19.5,19.5,19.2,19.4,19.6,19.6,...,21.8,21.7,21.5,21.4,21.5,21.6,21.4,22.0,22.0,22.3
1,"Light duty vehicle, short wheel basea,b",16.0,17.5,20.3,21.2,21.0,20.6,20.8,21.1,21.2,...,23.7,23.5,23.3,23.2,23.3,23.4,23.2,23.9,24.0,24.2
2,"Light duty vehicle, long wheel basea",12.2,14.3,16.1,17.0,17.3,17.4,17.3,17.3,17.2,...,17.3,17.3,17.2,17.1,17.1,17.2,17.1,17.3,17.4,17.5
3,New vehicle fuel efficiency (mpg)c (model year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Light-duty vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Passenger car,24.3,27.6,28.0,28.4,27.9,28.4,28.3,28.6,28.5,...,31.5,32.9,33.9,33.1,35.3,36.4,36.5,37.2,37.7,39.4
6,Domestic,22.6,26.3,26.9,27.3,27.0,27.8,27.5,27.7,28.1,...,31.2,32.1,33.1,32.7,34.8,36.1,36.3,37.2,37.3,39.2
7,Imported,29.6,31.5,29.9,30.1,29.2,29.6,29.7,30.3,29.6,...,31.8,33.8,35.2,33.7,36.0,36.8,36.9,37.3,(R) 38.1,39.7
8,"Light truck (<8,500 lbs GVWR)d",18.5,20.7,20.8,21.3,20.8,21.0,20.8,20.5,20.8,...,23.6,24.8,25.2,24.7,25.0,25.7,26.5,27.3,27.4,28.6
9,CAFE standards (mpg)c (model year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Passenger car,20.0,27.5,27.5,27.5,27.5,27.5,27.5,27.5,27.5,...,27.5,27.5,27.5,30.2,33.0,33.5,34.2,35.5,36.9,39.0
11,Light trucke,U,19.5,20.0,20.2,20.2,20.4,20.5,20.6,20.7,...,22.4,23.0,23.4,24.3,25.3,25.9,26.3,27.6,28.8,29.4
12,KEY: CAFE = Corporate Average Fuel Economy; GV...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,a 1960-2006 data are for Passenger car and Oth...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"b From 1980 to 1994, Light duty vehicle, short...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,c Assumes 55% city and 45% highway-miles. The ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"d Beginning with FY 1999, the total Light truc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,e No combined figure is available for 1980. In...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Data starting in 2007 is calculated using a ne...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,The fuel efficiency figures for Light duty veh...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,SOURCES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Average U.S. light duty vehicle fuel efficiency:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"1980-94: U.S. Department of Transportation, Fe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"1995-2017: Ibid., Highway Statistics (Washingt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,New vehicle fuel efficiency (based on model ye...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"1960-2014: U.S. Department of Transportation, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"2015-17: U.S. Department of Transportation, Na...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#import datasources from CSV - Average MPG and Annual Miles
file = "./Resources/Annual Miles.csv"
annualmiles = pd.read_csv(file,encoding = "ISO-8859-1",header=1)
annualmiles

,Unnamed: 0,1960,1965,1970,1975,1980,1985,1990,1991,1992,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Air,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Air carrier, domestic, all services",858,"1,134","2,068","1,638","2,276","3,026","3,963","3,854","3,995",...,"6,446","5,935","5,976","6,005","5,956","5,965","5,947","6,046","6,227","6,337"
2,General aviationa,"1,769","2,562","3,207","4,238","5,204","4,673","4,548","4,400","3,465",...,N,N,N,N,N,N,N,N,N,N
3,"Highway, total","718,763","887,811","1,109,724","1,327,664","1,527,295","1,774,827","2,144,362","2,172,050","2,247,151",...,"2,976,528","2,956,764","2,967,266","2,950,402","2,969,433","2,988,280","3,025,656","3,095,373","3,174,408","3,212,347"
4,"Light duty vehicle, short wheel-baseb,c,d",N,N,N,N,N,N,N,N,N,...,"2,024,757","2,015,714","2,025,745","2,046,282","2,062,828","2,074,423","2,072,071","2,147,840","2,191,764","2,220,801"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,"2002-17: Association of American Railroads, Ra...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Intercity/Amtrak car-miles:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,"1960-75: Association of American Railroads, Ye...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,1980-2000: National Passenger Railroad Corpora...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,"2001-17: Association of American Railroads, Ra...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
annualmiles.set_index('Unnamed: 0')
annualmiles_rest = annualmiles.loc[3:3]
annualmiles_rest


# merged_data=pd.DateFrame({})

# avg_light

,Unnamed: 0,1960,1965,1970,1975,1980,1985,1990,1991,1992,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
3,"Highway, total","718,763","887,811","1,109,724","1,327,664","1,527,295","1,774,827","2,144,362","2,172,050","2,247,151",...,"2,976,528","2,956,764","2,967,266","2,950,402","2,969,433","2,988,280","3,025,656","3,095,373","3,174,408","3,212,347"

In [5]:
avg_light=avg_mpg[avg_mpg["Unnamed: 0"]== "Average U.S. light duty vehicle fuel efficiency (mpg) (calendar year)"]

avg_light

,Unnamed: 0,1980,1985,1990,1991,1992,1993,1994,1995,1996,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Average U.S. light duty vehicle fuel efficienc...,14.9,16.5,18.8,19.5,19.5,19.2,19.4,19.6,19.6,...,21.8,21.7,21.5,21.4,21.5,21.6,21.4,22.0,22.0,22.3

In [14]:
con_data=pd.concat([annualmiles_rest,avg_light])
cols = list(con_data.columns)
cols = [cols[-1]] + cols[:-1]
con_data = con_data[cols]
con_data = con_data.set_index(['Unnamed: 0'])
con_data

/Users/michaelmaimoni/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,1960,1965,1970,1975,1980,1985,1990,1991,1992,1993,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
"Highway, total","718,763","887,811","1,109,724","1,327,664","1,527,295","1,774,827","2,144,362","2,172,050","2,247,151","2,296,378",...,"2,976,528","2,956,764","2,967,266","2,950,402","2,969,433","2,988,280","3,025,656","3,095,373","3,174,408","3,212,347"
Average U.S. light duty vehicle fuel efficiency (mpg) (calendar year),NaN,NaN,NaN,NaN,14.9,16.5,18.8,19.5,19.5,19.2,...,21.8,21.7,21.5,21.4,21.5,21.6,21.4,22,22.0,22.3

In [21]:
con_data_rest = con_data[['2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017']]
con_data_rest
con_data_rest.to_csv('average mpg and total miles')